.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row {
  margin-top: 2rem;
}

input {
  border-style: none;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom: 1px black solid;
  margin-left: .25rem;
}

.header{
  color:#8b8d8e;
}

.container{
  width: 100%;
  margin: auto;
}

.margin-right{
  margin-right: 2rem;
}

.submit-button{
  background-color: #ff671f;
  padding: .5rem;
  color: white;
  border-radius: .5rem;
}
